:root {
  /** COLORS */
  --color-bg: oklch(14.5% 0 0);
  --color-gray: oklch(43.9% 0 0);
  --color-green: oklch(79.2% 0.209 151.711);
  --color-red: oklch(57.7% 0.245 27.325);
  --color-blue: oklch(0.8431 0.1437 203.76);
  --color-font: oklch(1 0 97);
  /** FONT  */
  --font-family: "Rubik";
  --font-size-thin: 13px;
  --font-size-p: 16px;
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  /** FONT WEIGHT */
  --font-weight-normal: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-bold: 700;
  --font-weight-800: 800;
  --font-weight-extra-bold: 900;
}

/** rubik-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik-v31-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/rubik-v31-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/rubik-v31-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/rubik-v31-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik-v31-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/rubik-v31-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/rubik-v31-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** rubik-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/rubik-v31-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  color: var(--color-font);
}

::selection {
  color: #000;
  background-color: var(--color-green);
}

.required {
  color: var(--color-red);
}

ol,
ul,
a {
  list-style: none;
  text-decoration: none;
  font-weight: 300;
  font-size: var(--font-size-p);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

p {
  font-size: var(--font-size-p);
  font-weight: 300;
}

.thin {
  font-size: var(--font-size-thin);
}

strong {
  color: var(--color-green);
}

body {
  background-color: var(--color-bg);
}

.container {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Effet transparent */
.glass {
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

/*^ ///////////////////////////////////////////////////// */
/*^ //////////////         HEADER         /////////////// */
/*^ ///////////////////////////////////////////////////// */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  height: 75px;
  width: 100%;
}

/* "aemon System v1.0.0" */
.header-left > a {
  display: flex;
  align-items: baseline;
}

.header-left > a:hover {
  background-color: transparent;
  color: var(--color-font);
}

.header-logo {
  max-height: 30px;
  top: 2px;
  position: relative;
}

.header-left > a > p:last-child {
  margin-left: 9px;
}

/* navbar */
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.nav-list a {
  padding: 6px 8px 6px 8px;
}

.nav-list li:not(:last-child) a:hover {
  color: var(--color-green);
  background-color: var(--color-gray);
  transition: 0.2s;
  border-radius: 3px;
}

/* Bouton candidater */
/* From Uiverse.io by VisithaGalabada */
.cta,
.cta::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(
    45deg,
    transparent 5%,
    oklch(57.7% 0.245 27.325) 5%
  );
  border: 0;
  color: var(--color-font);
  letter-spacing: 1px;
  line-height: 1;
  /* box-shadow: 6px 0px 0px oklch(79.2% 0.209 151.711); */
  outline: transparent;
  position: relative;
}

.cta::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "ONE OF US";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    oklch(79.2% 0.209 151.711) 3%,
    oklch(79.2% 0.209 151.711) 5%,
    oklch(14.5% 0 0) 5%
  );
  text-shadow: -3px -3px 0px oklch(57.7% 0.245 27.325),
    3px 3px 0px oklch(0.8431 0.1437 203.76);
  clip-path: var(--slice-0);
}

.cta:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.cta:hover {
  box-shadow: 15px var(--color-green);
}

/*^ ///////////////////////////////////////////////////// */
/*^ //////////////         INDEX         //////////////// */
/*^ ///////////////////////////////////////////////////// */

/* body > main */
.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*^ ///////////////////////////////////////////////////// */
/*^ ///////////////      APPLICATIONS      ////////////// */
/*^ ///////////////////////////////////////////////////// */

::placeholder {
  color: var(--color-font 80%);
}

select,
textarea,
input {
  background-color: var(--color-gray);
  color: var(--color-font);
  font-family: "Rubik";
  font-size: var(--font-size-thin);
}

.recruitment-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

option {
  background-color: var(--color-gray);
}

input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
}

.checkbox-group {
  display: flex;
  gap: 20px;
}

.checkbox-group label {
  display: block;
  margin-top: 3px;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--color-gray);
  border: 2px solid var(--color-gray);
  border-radius: 3px;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: var(--color-green);
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

button[type="submit"] {
  padding: 10px 20px;
  color: var(--color-green);
  font-family: "Rubik";
  border: 1px var(--color-green) solid;
  border-radius: 3px;
  cursor: pointer;
}

#applications-btn {
  align-self: center;
}

#applications-btn:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
